<section>
  <div class="img-container">
    <div style="width: 100%; height: 100%;">
      <app-slider
        [imgList]="[
          'assets/movies/movie1.jpg',
          'assets/movies/movie2.jpg',
          'assets/movies/movie3.jpg',
          'assets/movies/movie4.jpg',
          'assets/movies/movie5.jpg',
          'assets/movies/movie6.jpg'
        ]"
      ></app-slider>
    </div>
    <div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/adzYW5DZoWs"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="container" *ngIf="pelicula$ | async as pelicula">
    <app-table
      [data]="pelicula"
      [keys]="['name', 'episode', 'director', 'producer', 'release_date']"
    ></app-table>
    <app-table
      [data]="pelicula"
      [keys]="['characters']"
      [linkKeys]="['characters']"
    >
    </app-table>
  </div>
</section>
