<app-slider
  [imgList]="[
    'assets/home/home1.png',
    'assets/home/home2.jpg',
    'assets/home/home3.png',
    'assets/home/home4.jpg',
    'assets/home/home5.jpg'
  ]"
></app-slider>

<footer>
  <div>
    &copy; <span id="c_year">{{ year }}</span> Example, Inc.
  </div>
  <div class="rounded-social-buttons">
    <a
      class="social-button facebook"
      href="https://www.facebook.com/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
    </a>
    <a
      class="social-button twitter"
      href="https://www.twitter.com/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a
      class="social-button linkedin"
      href="https://www.linkedin.com/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a
      class="social-button youtube"
      href="https://www.youtube.com/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
    </a>
    <a
      class="social-button instagram"
      href="https://www.instagram.com/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a
      class="social-button skype"
      href="https://www.skype.com/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'skype']"></fa-icon>
    </a>
  </div>
</footer>
