<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Tatooine</a>
      <a mat-list-item href="#">Alderaan</a>
      <a mat-list-item href="#">Yavin IV</a>
      <a mat-list-item href="#">Hoth</a>
      <a mat-list-item href="#">Dagobah</a>
      <a mat-list-item href="#">Bespin</a>
      <a mat-list-item href="#">Endor</a>
      <a mat-list-item href="#">Naboo</a>
      <a mat-list-item href="#">Coruscant</a>
      <a mat-list-item href="#">Tatooine</a>
      <a mat-list-item href="#">Alderaan</a>
      <a mat-list-item href="#">Kamino</a>
      <a mat-list-item href="#">Kamino</a>
      <a mat-list-item href="#">Geonosis</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
