ul,
ol {
  list-style: none;
  z-index: 100;
}

.main-menu {
  display: flex;
  justify-content: center;
}

.nav > li {
  float: left;
}

.nav > li a {
  color: rgba(15, 101, 214, 0.7);
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.nav > li a:hover {
  color: rgb(15, 101, 214);
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

.subnav {
  padding: 0;
}

.subnav > li:nth-child(odd) {
  background-color: #c3c3c3;
}
.subnav > li:nth-child(even) {
  background-color: #fbfbfb;
}

.itemnav {
  padding: 0;
  z-index: 10;
  left: 140px;
  height: 40vh;
  overflow-y: scroll;
  scrollbar-color: #6d0c74 #f5f5f5;
  scrollbar-width: 6px;
}

.itemnav::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.itemnav::-webkit-scrollbar-thumb {
  background-color: #6d0c74;
}

.itemnav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.itemnav > li:nth-child(odd) {
  background-color: #512c96;
}

.itemnav > li:nth-child(odd):hover {
  background-color: #8746ff;
}

.itemnav > li:nth-child(even) {
  background-color: #d2d0fe;
}

.itemnav > li:nth-child(even):hover {
  background-color: #b1adff;
}

.itemnav > li:nth-child(even) a {
  color: black;
}

.itemnav > li:nth-child(odd) a {
  color: white;
}
