<section>
  <div class="img-container">
    <app-slider
      [imgList]="[
        'assets/main_ship.png',
        'assets/companion1.png',
        'assets/companion2.png'
      ]"
    ></app-slider>
  </div>
  <div class="container" *ngIf="nave$ | async as nave">
    <app-table
      [data]="nave"
      [keys]="[
        'name',
        'model',
        'manufacturer',
        'cost_in_credits',
        'length',
        'max_atmospheric_spec',
        'crew',
        'passengers'
      ]"
    ></app-table>
    <app-table
      [data]="nave"
      [keys]="[
        'cargo_capacity',
        'consumables',
        'hyperdrive_rating',
        'MGTL',
        'starship_class',
        'pilots',
        'films'
      ]"
      [linkKeys]="['pilots', 'films']"
    >
    </app-table>
  </div>
</section>
