<section>
  <app-slider
    [imgList]="[
      'assets/planets/planet1.jpg',
      'assets/planets/planet2.png',
      'assets/planets/planet3.png',
      'assets/planets/planet4.png',
      'assets/planets/planet5.png',
      'assets/planets/planet6.jpg'
    ]"
  ></app-slider>
  <div class="container" *ngIf="planeta$ | async as planeta">
    <app-table
      [data]="planeta"
      [keys]="[
        'name',
        'rotation_period',
        'orbital_period',
        'diameter',
        'climate',
        'gravity',
        'terrain',
        'surface_water',
        'population'
      ]"
    ></app-table>
    <app-table
      [data]="planeta"
      [keys]="['residents']"
      [linkKeys]="['residents']"
    ></app-table>
  </div>
</section>
