:host {
  width: 90%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 600px) {
  :host {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 980px) {
  :host {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  :host {
    width: 980px;
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
}

.tag {
  margin: 0 0.2em;
  transition: color 0.12s ease;
  cursor: pointer;
}

.tag:hover {
  color: rgb(15, 101, 214) !important;
}

.tag:active {
  transform: translateY(4px);
}

.tag-cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  padding: 15px;
  overflow: auto;

  text-align: center;
}
