<div>
  <ng-autocomplete
    [data]="countries"
    [searchKeyword]="keyword"
    [isLoading]="loading"
    placeHolder="Buscar..."
    (selected)="selectEvent($event)"
    (inputChanged)="onChangeSearch($event)"
    (inputFocused)="onFocused($event)"
    historyIdentifier="countries"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.nombre"></a>
  </ng-template>

  <ng-template #notFoundTemplate>
    <div>
      No se ha encontrado ningún resultado
    </div>
  </ng-template>
</div>
